@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}
h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
}
h4 {
  color: #505050;
  font-size: 18px;
  line-height: 28px;
}
p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.5px;
}

#about,
#project,
#team,
#contact,
footer {
  background-color: #fff;
}

/* menu */
.scrolled {
  background-color: rgba(91, 162, 119, 0.8);
}
.navbar .navbar-brand {
  font-weight: normal;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.navbar .navbar-brand span {
  font-size: 30px;
  font-weight: bold;
  color: rgb(196, 92, 92);
}
.navbar .navbar-nav .nav-link {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: transparent;
  color: #fff;
}
.navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: lightblue;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
  background-color: lightblue;
  color: #fff;
}
/* Home */

#home {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
#home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -100;
  transition: 1s all;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

#home h1 {
  color: #fff;
  font-size: 7vw;
  line-height: 1.2em;
}
#home p {
  color: rgba(250, 250, 250, 0.7);
}
#home .home-text {
  z-index: 99;
}

/* buttons */

.section-btn {
  margin: 32px 0 0 0;
  padding: 0;
}
.section-btn a {
  color: #fff;
  font-weight: normal;
  line-height: 45px;
  perspective: 1000px;
}
.section-btn a span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.5px;
  padding: 2px 27px;
  background: #4dc47d;
  border-radius: 3px;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}
.section-btn a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  padding: 2px 27px;
  transition: background 0.3s;
  transform: rotateX(-90deg);
  content: attr(data-hover);
  transform-origin: 50% 0;
}
.section-btn a:hover span,
.section-btn a:focus span {
  transform: rotateX(90deg) translateY(-22px);
}

/* about */
#about {
  position: relative;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* project */
#project .project-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
#project .project-item .project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease-in-out 0.4s;
}
#project .project-item:hover .project-overlay {
  opacity: 1;
}
#project .project-item .project-overlay .project-info {
  padding: 12em 0;
}
.project-info h1 {
  color: #fff;
  margin: 0;
}
.project-info h3 {
  color: #d9d9d9;
  margin-top: 0;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.project-item img {
  transition: all ease-in-out 0.4s;
}
.project-item:hover img {
  transform: scale(1.2);
}

/* team */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 330px;
}
.swiper-slide .textBox h3 {
  font-weight: 200;
}
.swiper-slide .textBox h3 span {
  font-weight: 400;
}

/* contact */
#contact {
  background: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?cs=srgb&dl=pexels-lukas-349609.jpg&fm=jpg")
    50% 0 repeat fixed;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  position: relative;
}
.form-control {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 22px;
}
.form-control:focus {
  border-color: #d9d9d9;
}
#contact input {
  height: 55px;
  color: lightslategray;
}
.btn {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.5px;
  padding: 12px 27px;
  background: #4dc47d;
  border-radius: 3px;
  border: none;
  transition: all 0.3s;
}

/* footer */
.site-footer {
  background-color: #fff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.github:hover {
  background-color: #277e72;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
